.dashboard {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Arial', sans-serif;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;    
    padding: 1rem 2rem;
    background-color: #000;
    color: #fff;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropbtn {
    background-color: #000;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a:hover {
    background-color: #f1f1f1;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  .dropdown:hover .dropbtn {
    background-color: #3e8e41;
  }
  
  .dashboard-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .welcome-text {
    margin-bottom: 20px;
  }
  
  .dashboard-sections.tenant {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%; 
    max-width: 1200px; 
    margin: auto; 
  }
  
  .buttons-column.full-width {
    width: 100%;    
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    padding: 20px; 
    border: 2px solid #ccc; 
    border-radius: 10px; 
  }
  
  
  .buttons-column h3 {
    text-align: center; 
    font-size: 24px; 
    margin-bottom: 20px; 
  }

  .buttons-column button {
    width: 80%;
    padding: 15px 25px; 
    font-size: 18px; 
    margin-bottom: 15px; 
    text-align: center; 
  }
  
  .footer {
    padding: 1rem 2rem;
    background-color: #222;
    color: white;
    text-align: center;
  }

  .description-textarea {
    resize: none; /* Prevents resizing */   
    height: 200px; 
    width: 572px;
  }
  
  .form-submit {
    display: flex;
    justify-content: center; 
    margin-top: 20px; 
  }
  
  .save-button {
    padding: 10px 20px; 
    font-size: 16px; 
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.2s;
  }
  
  .save-button:hover {
    background-color: #0056b3;
  }